@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/icons/MaterialIcons-Regular.woff2) format('woff2'),
  url(/icons/MaterialIcons-Regular.woff) format('woff'),
  url(/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


#tdlst-login-page{
  .jumbotron{
    margin-top: 100px;
  }
}

#tdlst-registration-page{
  .jumbotron{
    margin-top: 50px;
  }
}

#tdlst-list-page{
  nav{
    margin-bottom: 10px;
    form>button{
      line-height: 0.9;
      padding: 0.4em;
    }
  }

  #tdlst-create-edit-modal{
    .tdlst-icons{
      margin-bottom: 15px;
    }
    .material-icons{
      align-self: center;
      padding: 0.5em;
      border-radius: 50%;
      background-color: rgba(40,167,79,0.11);
      margin-left: 5px;
      cursor: pointer;

      &:hover, &.active{
        color: #fff;
        background-color: #28a745;
      }
    }
  }

  #tdlst-list{
    .tdlst-todo{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      //border: 1px solid transparent;
      border-radius: 0.25rem;

      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
      .tdlst-text{
        //background-color: rgba(255,0,0,0.5);
      }
      .tdlst-buttons{
        //background-color: rgba(0,255,0,0.5);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 15px;

        .material-icons{
          align-self: center;
          padding: 0.5em;
          border-radius: 50%;
          background-color: rgba(40,167,79,0.11);
          margin-left: 5px;
          cursor: pointer;

          &:hover, &.active{
            color: #fff;
            background-color: #28a745;
          }
        }
      }
    }
  }
}