<div id="tdlst-login-page" class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="jumbotron text-center">
                <h1>Sign in</h1>
                <h5>Elegro todo list</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="email-addon">E-mail</span>
                    </div>
                    <input id="tdlst-email-input" type="text" class="form-control"
                           placeholder="Enter your e-mail here..." aria-label="Email" aria-describedby="email-addon">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password-addon">Password</span>
                    </div>
                    <input id="tdlst-password-input" type="password" class="form-control"
                           placeholder="And password here..." aria-label="Password" aria-describedby="password-addon">
                </div>

                <button id="tdlst-go-button" type="button" class="btn btn-secondary  btn-lg btn-block">Go!</button>
                <button id="tdlst-register-button" type="button" class="btn btn-link">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#tdlst-go-button").click(function (event) {
        var email = $("#tdlst-email-input").val();
        var password = $("#tdlst-password-input").val();
        console.log("Go " + email + "; " + password)
        $.ajax({
            type: 'POST',
            url: '/login',
            data: {
                email: email,
                password: password
            },
            dataType: "json"
        })
            .done(function (data, status) {
                console.log('SUCCESS');
                console.log(data);
                console.log(status);
                window.location = "/list";
            })
            .fail(function (data, status) {
                console.log('ERROR');
                console.log(data);
                console.log(status);
                alert("Try again.")
            })

    })

    $("#tdlst-register-button").click(function (event) {
        window.open("/registration")
    })
</script>