<div id="tdlst-registration-page" class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="jumbotron text-center">
                <h1>Sign up</h1>
                <h5>Elegro todo list</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="email-addon">E-mail</span>
                    </div>
                    <input id="tdlst-email-input"
                           type="text"
                           class="form-control"
                           placeholder="Enter your e-mail here..."
                           aria-label="Email"
                           aria-describedby="email-addon">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="username-addon">Username</span>
                    </div>
                    <input id="tdlst-username-input"
                           type="text"
                           class="form-control"
                           placeholder="What is your name?"
                           aria-label="Username"
                           aria-describedby="username-addon">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password-addon">Password</span>
                    </div>
                    <input id="tdlst-password-input"
                           type="password"
                           class="form-control"
                           placeholder="And password here..."
                           aria-label="Password"
                           aria-describedby="password-addon">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password-confirmation-addon">Password</span>
                    </div>
                    <input id="tdlst-password-confirmation-input"
                           type="password"
                           class="form-control"
                           placeholder="Confirm your password..."
                           aria-label="Password"
                           aria-describedby="password-confirmation-addon">
                </div>

                <button id="tdlst-register-button" type="button" class="btn btn-secondary  btn-lg btn-block">Register</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#tdlst-register-button").click(function(event){
        var email = $("#tdlst-email-input").val();
        var username = $("#tdlst-username-input").val();
        var password = $("#tdlst-password-input").val();
        var passwordConfirmation = $("#tdlst-password-confirmation-input").val();
        console.log("Register " + email + "; "+ password)

        $.ajax({
            type: 'POST',
            url: '/registration',
            data: {
                email: email,
                name: username,
                password: password
            },
            dataType: "json"
        })
            .done(function (data, status) {
                console.log('SUCCESS');
                console.log(data);
                console.log(status);
                setTimeout(function () {
                    window.location = "/list";
                },10000)
            })
            .fail(function (data, status) {
                console.log('ERROR');
                console.log(data);
                console.log(status);
                alert("Try again.")
            })


    })

</script>